*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:linear-gradient(rgba(156, 185, 200, 0.7), rgba(0,0,0,0.7)),
    url("../asset/stethoscope-medications-cardiogram.jpg");
    background size: 100%;
    background-position: button;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    text-align:center;
    padding:35px;
    background:#62113a;
    color: aliceblue;
}

header h1{
    color:#eae6ca;
    font-size:45px;
}

nav{
    background:#8a2153;
    text-align:center;
    padding:15px;
}

nav a{
    color:#eae6ca;
    margin:0 20px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#b6b8be;
    background-color: #56534c;
    padding: auto;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h2{
    font-size:40px;
    color:#eae6ca;
    margin-bottom:20px;
}


.boton{
    background:#d4af37;
    color:black;
    padding:10px 15px;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;

}

.boton:hover{
    background:white;
}

section{
    padding:80px 20px;
    text-align:center;
}

h2{
    color:#eae6ca;
    margin-bottom:40px;
    font-size:35px;
}

.contenedor-servicios{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.servicio{
    background:rgba(0,0,0,0.6);
    border:2px solid #eae6ca;
    padding:25px;
    width:250px;
    border-radius:10px;
}

.servicio h3{
    margin-bottom:10px;
}

.perfil{
    max-width:800px;
    margin:auto;
}

.perfil img{
    width:200px;
    border-radius:100%;
    border:4px solid #eae6ca;
    margin-bottom:20px;
}

.galeria{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.galeria img{
    width:250px;
    border-radius:10px;
    border:3px solid #eae6ca;
}

footer{
    background:#8a2153;
    padding:20px;
    text-align:center;
}

.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#20b757;
    color:white;
    padding:15px 20px;
    border-radius:50px;
    text-decoration:none;
    font-weight:bold;
}

/* tablets */
@media (max-width:900px){

.contenedor-servicios{
flex-direction:column;
align-items:center;
}

}

/* celulares */
@media (max-width:600px){

nav a{
display:block;
margin:10px 0;
}

.hero h2{
font-size:26px;
}

.servicio{
width:90%;
}

}




